<header>
  <h2>Create a new user</h2>
</header>

<section>
  <h3>Profile</h3>
  <dl>
    <%= _.labeledAttribute(model, 'username', { silent: true, placeholder: 'type in a username' }) %>
    <%= _.labeledAttribute(model, 'fullname', { silent: true, placeholder: 'your full name' }) %>
    <%= _.labeledAttribute(model, 'email', { silent: true, placeholder: 'your e-mail adress' }) %>
    <%= _.labeledAttribute(model, 'password', { silent: true, placeholder: 'choose a password' }) %>
    <%= _.labeledAttribute(model, 'password', { silent: true, label: 'Retype', placeholder: 'retype your password' }) %>
    <%= _.labeledAttribute(model, 'role', { prop: 'name', silent: true, placeholder: 'choose a role' }) %>
  </dl>
  <button type="create">create</button>
</section>